<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#<%= options.id %>" aria-controls="<%= options.id %>" aria-expanded="false" aria-label="Toggle">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse bg-dark text-right pt-2" id="<%= options.id %>">
  <%= content %>
</div>
